*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #eaddcf;
}

    /* form styling */

form{
    width: 40.28vw;
    height: auto;
    margin: auto;
    background-color: #FAF9F6;
    margin-top: 3vw;
    border-radius: 20px; 
    padding-left: 2.3vw;
    padding-bottom: 2.3vw;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

#personal-info-heading{
    padding-top: 2.5vw;
}

h2{
    padding-top: 0.8vw;
    padding-bottom: 0.9vw;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 540;
}

label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw; 
}

input{
    width: 90%;
    height: 2.4vw;
    border-radius: 5px; 
    border: 1px solid rgb(153, 153, 153);
    padding-left: 7px ;
    margin-top: 6px;
}

textarea{
    margin-top: 6px;
    height: 5vw;
    width: 90%;
    border: 1px solid rgb(153, 153, 153);

}

button{
    height: 3vw;
    width: 10vw;
    border-radius: 5px;
    border: none;
    background-color: #8c7851;
    color: #fffffe;
    cursor: pointer;
}

    /* generated resume styling */

#generated-resume{
    width: 40.28vw;
    height: auto;
    background-color: #f9f4ef;
    border-radius:20px;
    margin: auto;
    box-shadow:  10px 10px 5px 0px rgba(0, 0, 0, 0.40);
    padding-left: 2vw;
    padding-bottom: 3vw;
    margin-bottom: 3vw;
}    


.main-heading{
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: #716040;
        font-size: 3.2vw;
        padding-bottom: 1vw;
        padding-top: 3vw;

}


.heading-section{
    background-color: #8c7851;
    width: 90%;
    height: 40px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    color: #fffffe;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: 1.1vw;
    margin-top: 1vw;
}

.data{
    font-size: 1.2vw ;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 1vw;
    width: 90%;
}

 /* form media quereies */

 @media only screen and (max-width:767px) {
    
    body{
        background-color: #eaddcf;
    }
    form{
        width: auto;
        background-color: #FAF9F6;
        height: auto;
        margin-top: 0;
        border-radius: 0;
        box-shadow: none;
        padding: 5vw;
    }

    h2{
        font-size: 5vw;
        padding-top: 2vw;
    }

    label{
        font-size: 3.3vw;
    }

    input{
        width: 95%;
        height: 8vw;
        margin-top: 1.5vw;
        border-radius: 1.5vw;
        border: 1px solid rgb(153, 153, 153);

    }

    input::placeholder{
        font-size: 2.5vw;
    }

    textarea{
        width: 95%;
        height: 15vw;
        margin-top: 1.5vw; 
        border: 1px solid rgb(153, 153, 153);

    }

    input:focus , textarea:focus{
        outline: none;
        border: 2px solid rgb(0, 0, 0.5);
    }

    button{
        height: 8vw;
        width: 25vw;
        font-size: 2.5vw;
    }
 }

 @media only screen and (min-width: 768px) and (max-width:1200px){

    form{
        width: 65vw;
        height: auto;
    }

    h2{
        font-size: 3vw;
        padding-top: 1.5vw;
        padding-bottom: 1vw;
    }

    label{
        font-size: 1.5vw;
    }

    input{
        width: 90%;
        height: 4vw;     
    }

    input:focus , textarea:focus{
        outline: none;
        border: 2px solid rgb(0, 0, 0.5);
    }

    input::placeholder{
        font-size: 1.5vw;
    }

    textarea{
        width: 90%;
        height: 8vw;
    }

    button{
        width: 15vw;
        height: 4.5vw;
        font-size: 1.5vw;
    }
 }

/* generated resume media querey */


@media only screen and (max-width:767px) {

    #generated-resume{
        width: 85vw;
        height: auto;
        margin: auto;
        /* margin-left: 10vw; */
        padding-left: 4vw;
        margin-bottom: 4vw;
    }

    .main-heading{
        font-size: 7vw;
        padding-bottom: 3vw;
        padding-top: 5vw;
    }

    .heading-section{
        height: 7.6vw;
        font-size: 3.2vw;
        border-top-right-radius:30px;
        border-bottom-right-radius: 30px;
        margin-top: 2vw;
    }

    .data{
        font-size: 3.3vw;
        margin-top: 2vw ;
        
    }
}

@media only screen and (min-width: 768px) and (max-width:1200px){

    #generated-resume{
        width: 65vw;
        height: auto;
        margin: auto;
        padding-left: 3vw;
        margin-bottom: 4vw;
    }

    .main-heading{
        font-size: 6vw;
        padding-bottom: 3vw;
        padding-top: 5vw;
    }

    .heading-section{
        height: 6vw;
        font-size: 2.5vw;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        margin-top: 2vw;
    }

    .data{
        font-size: 2.2vw;
        margin-top: 2vw ;       
    }
}